#add {
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

#add > form {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: darkgray;
  padding: 20px;
  border-radius: 10%;
}

#add > form > div {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

#add > form > div > label {
  padding-right: 10px;
}

#add > form > button {
  background-color: brown;
  margin: 20px 20px 0 20px;
  padding: 10px;
  width: max-content;
  width: 100%;
}
  
#add > img {
    width: 400px;
    height: auto;
}