#view {
  margin: auto;
}

#view > table {
  margin: auto;
}

th, td {
  padding-left: 50px;
  padding-right: 50px;
}

button {
  margin-left: 25px;
}

#view > table > thead > tr > th,
#view > table > tbody > tr > td {
  color: #030027ff;
}

#view > table tr:nth-child(even) {
  background-color: #e3e6ecff;
}

#view > table tr:nth-child(odd) {
  background-color: rgb(210, 215, 225);
}