header, #logo, nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

header {
  background-color: #e3e6ecff;
  width: 100vw;
  height: 15vh;
  padding-left: 40px;
  padding-right: 40px;
}

header > #logo > h1 {
  color: #030027ff;
}

#logo > h1 {
  font-size: 250%;
}

header > nav > li {
  font-size: 150%;
  padding-left: 60px;
  text-decoration: none;
  list-style-type: none;
}

header > nav > li > .link {
  width: 100%;
  height: 100%;
  flex-grow: 1;
  text-decoration: inherit;
  color: #030027ff;
}

header > nav > li > .link:hover {
  color: #cc2936ff;
}